$naranja = #FEB379
body
	background: url(../images/cover_6.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
.modal-content
	border-radius 0px
.btn
	border-radius 0px

#panel-seleccion
	//display none
	.fecha-hora
		color white
#panel-seleccion,
#panel-tipos,
#panel-registro
	.titulo
		color white
		margin-top 70px
		margin-bottom 40px
		letter-spacing 10px
		font-size 50px
		font-family "Quicksand" //"Muli"

#panel-registro
	label
		color white
		font-family "Quicksand"
		font-size 18px
	.form-control
		margin-bottom 12px
		border-radius 0px
		height 40px
		
#panel-tipos
	select
		font-size 40px
		padding 5px 14px
		option
			padding 5px 14px

.btn-siguiente,
#btn-verificar
	background-color darken($naranja, 10%)
	border lighten($naranja, 50%)
	//border-radius 0px
	color white
	padding 10px 24px
	&:hover
		color white
		background-color darken($naranja, 20%)
ul.tagit
	background #FFF
	min-height 40px
ul.tagit li.tagit-choice
	background darken($naranja, 10%)
ul.tagit li.tagit-choice .tagit-label:not(a)
	color #FFF
ul.tagit li.tagit-choice .tagit-close .text-icon
	color #FFF
ul.tagit li.tagit-choice:hover, 
ul.tagit li.tagit-choice.remove
	background-color darken($naranja, 20%)
	border-color darken($naranja, 20%)